[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kivy = {extras = ["base"],version = "*"}
trio = "*"
flask = "*"
kivy-garden-graph = "*"
pyserial = "*"

[requires]
python_version = "3.8"
